@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@700&display=swap');

body {
  margin: 0;
  overflow: hidden;
  background-color: black;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  font-family: 'Bodoni Moda', sans-serif;
}

.navbar-link {
  text-align:center;
  background-color: rgb(9, 71, 24);
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 55px;
  padding: 30px;
  padding-left: 45px;
  padding-right: 45px;
  margin-bottom: 100px;
  display: block;
}

.navbar-link.navbar-link.active {
  position: inherit;
  text-align:center;
  background-color: rgb(9, 71, 24);
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 29.7px;
  padding: 16.2px;
  padding-left: 24.3px;
  padding-right: 24.3px;
  margin-bottom: 54.1px;
  display: block;
}

