@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@700&display=swap');

@font-face {
  font-family: 'Swanky and Moo Moo';
  /*"Swanky and Moo Moo"*/
  src: url('./SwankyandMooMoo-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  overflow: hidden;
  background-color: black;

}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  font-family: 'Bodoni Moda', sans-serif;
}

.navbar-link {
  cursor: pointer;
  text-align: center;
  background-color: #000435;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 3.82vw;
  padding: 2.08vw;
  padding-left: 3.13vw;
  padding-right: 3.13vw;
  margin-bottom: 6.94vw;
  display: block;
}

.navbar-link.navbar-link.active {
  position: inherit;
  text-align: center;
  background-color: #000435;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 2.06vw;
  padding: 1.13vw;
  padding-left: 1.69vw;
  padding-right: 1.69vw;
  margin-bottom: 3.75vw;
  display: block;
}

#aboutme {
  color: #000435;
  position: absolute;
  font-size: 1.3vw;
  top: -2.78vw;
  left: 0.83vw;
  transform: translate(-50%, -50%);
  width: 34.72vw;
}



label {
  margin-bottom: 2.15vw;
  display: inline-block;
}

#contact {
  font-family: 'Swanky and Moo Moo', sans-serif;
  width: 32.99vw;
  min-height: 92.5vh;
  background-attachment: local;
  background-image: linear-gradient(to right, white 0.69vw, transparent 0.69vw),
    linear-gradient(to left, white 0.69vw, transparent 0.69vw),
    repeating-linear-gradient(white, white 2.08vw, #ccc 2.08vw, #ccc 2.15vw, white 2.15vw);
  line-height: 2.08vw;
  padding: 0.55vw 0.69vw;
  font-size: 1.59vw;
}

#contact p {
  margin-top: 4.51vw;
  margin-bottom: 1.84vw;
}

input,
textarea {
  font-family: 'Swanky and Moo Moo', sans-serif;
  border: none;
  background: none;
  outline: none;
  display: inline-block;
  padding-left: 1.38vw;
  font-size: 1.38vw;
}

input {
  width: 92.36vw;
}

textarea {
  width: 129.17vw;
  line-height: 2.15vw;
}

button {
  cursor: pointer;
  margin: 0.69vw;
  font-family: 'Swanky and Moo Moo', sans-serif;
  font-size: 2.08vw;
  background-color: white;
  width: 9.38vw;
  margin-inline-start: 9.38vw;
  border: 0.14vw solid black;
  padding: 0.23vw;
}

button:hover {
  background-color: black;
  color: white;
  font-size: 2.43vw;
  margin-top: -0.14vw;
}

.externalBook {
  width: 55.56vw;
  height: 34.72vw;
}

#iframe {
  width: 100%;
  height: 80vh;
  margin-top: 0.69vw;
  margin-top: 0.69vw;
}

#bookButton {
  background-color: rgb(197, 214, 244);
  width: 7vw;
  margin-inline-start: 59.03vw;
}

#flipbook {
  font-family: 'Bodoni Moda', sans-serif;
  background-color: #ffffff;
}

#flipbook .page {
  background-color: rgb(197, 214, 244);
  width: 55.56vw;
  height: 41.67vw;
  padding: 0.69vw;
}

#flipbook .page:nth-child(1) {
  background-color: rgb(197, 214, 244);
}

#flipbook .page:nth-child(2) {
  background-color: rgb(35, 18, 121);
}

#recordPlayer video {
  padding-top: 1.59vw;
}

#recordPlayerText {
  font-size: 1.11vw;
  padding-left: 0.35vw;
  padding-right: 1.39vw;
}

/* medium screens (tablets) */

@media only screen and (max-width: 1400px) {
  #aboutme {
    font-size: 1.4vw;
  }

  #contact {
    min-height: 72.5vh;
  }

  .navbar-link {
    font-size: 5.3vw;
    padding: 1.8vw;
    padding-left: 3.13vw;
    padding-right: 2.8vw;
    margin-bottom: 6vw;
  }

  .navbar-link.navbar-link.active {
    font-size: 3.4vw;
    padding: 1.73vw;
    margin-bottom: 3.75vw;
  }

  #iframe {
    width: 100%;
    height: 60vh;
    margin-left: 2vw;
    margin-top: 10vh;
  }

  button {
    margin-right: 70px;
    margin-inline-start: 19.03vw;
  }

}

/* small screens (mobile devices) */

@media only screen and (max-width: 1000px) {
  #aboutme {
    font-size: 0.9vw;
    padding-left: 0vw;
    padding-top: 5.5vh;
    width: 23vw;
  }

  #contact {
    margin-top: -6vh;
    min-height: 22.5vh;
    width: 22.99vw;
    max-height: 73vh;

  }

  #contact p {
    margin-top: 1.5vw;
  }

  .navbar-link {
    font-size: 9.3vw;
    padding: 3vw;
    padding-left: 3.13vw;
    padding-right: 2.8vw;
    margin-bottom: 9vw;
  }

  .navbar-link.navbar-link.active {
    font-size: 8.06vw;
    padding: 1.73vw;
    margin-bottom: 3.75vw;
    margin-right: 70vw;
  }

  #iframe {
    width: 100%;
    height: 80vh;
    margin-left: 0vw;
    margin-top: 2vh;
  }

  #recordPlayer video {
    width: 6vw;
  }

  button {
    position: absolute;
    top: 80%;
    left: 30%;
  }
}